@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#foto-diri {
    border-radius: 50%;
    border: 3px solid #2C3333;
    width: 35vmax;
}
#round {
    position: absolute;
    left: 30%;
    z-index: -1;
    width: 46px;
    height: 46px;
    background: rgba(165, 201, 202, 0.5); 
    border-radius: 50%;
    padding: 20px; 
}
.proffesion {
    color: rgba(44, 51, 51, 0.5);
}
#button-download-cv {
    background: #395B64;
    border-radius: 5px;
    width: 170px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#text-button-download-cv {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2em;
    color: #E7F6F2;
}
#social-media {
    margin-top: 10%;
}
#logo {
    width: 64%;
}
.icon-link {
    width: 56%;
}
#about-me {
    background-color: #2C3333;
    color: #fff;
    padding-top: 8%;
}
#head-about-me {
    font-size: 40px;
    text-align: center;
}
.light {
    font-weight: 100;
}
.card {
    background-color: #2C3333;
    border: 1px solid #E7F6F2;
}
.man {
    height: 10px;
}
#kosong {
    padding: 2%;
}
footer div p {
    margin: auto;
    padding: 2% 0 2% 0;
}

@media only screen and (min-width: 760px) {
   #foto-diri {
        width: 30vmax;
   } 
   #content {
        margin: auto;
        padding-left: 12%;
   }
   .content-a {
        text-align: left;
   }
   #button-download-cv {
        float: left;
   }
   #logo {
        width: 98%;
   }
}

@media only screen and (min-width: 800px) {
    #home {
        margin-top: 3%;
    }
    #foto-diri {
        width: 28vmax;
    } 
    #content {
        padding-left: 18%;
    }
}

@media only screen and (min-width: 1000px) {
    #foto-diri {
        width: 36vmax;
    } 
    #content {
        padding-left: 15%;
    }
    #content h3 {
        font-size: 32px;
        font-weight: 400;
    }
    #content h1 {
        font-weight: 700;
        font-size: 56px;
    }
    #content p {
        font-size: 24px;
    }
    #social-media {
        margin-top: 5%;
    }
    #content-what-im-doing {
        margin-top: 2%;
    }
}

@media only screen and (min-width: 1700px) {
    #foto-diri {
        width: 30vmax;
    } 
    #content {
        padding-left: 20%;
    }
    #content h3 {
        font-size: 40px;
        font-weight: 400;
    }
    #content h1 {
        font-weight: 700;
        font-size: 64px;
    }
    #content p {
        font-size: 24px;
    }
    #head-about-me {
        font-size: 64px;
    }
    #parag-about-me {
        font-size: 22px;
        font-weight: 100;
    }
}
